<html>

	<body>

		<div class="container">

			<%= bootstrap_form_for(@product) do |f| %>

			<%= f.text_field :title %>

			<%= f.text_area :description %>

			<%= f.date_select :start_date %>

			<%= f.date_select :end_date %>

			<%= f.submit "Create" %>
			 
			<% end %>

		</div>
	</body>

</html>