<html>

	<body>

		<div class="container">
			<h1>Product Catalog</h1>

			<%= link_to 'New Product', new_product_path %>

			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Options</th>
						<th colspan="5"></th>	
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td><%= product.title %></td>
						<td><%= product.description %></td>
						<td><%= product.start_date %></td>
						<td><%= product.end_date %></td>
						<td><%= link_to 'Edit', edit_product_path(product) %></td>
						<td><%= link_to 'Delete', product_path(product),
							method: :delete,
							data: { confirm: 'Are you sure?' } %></td>
						<td><%= link_to 'New Rate', new_product_rate_path(product) %></td>
						<td><%= link_to 'View', product_path(product) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</body>
</html>