<html>

	<body>

		<div class="container">

			<%= form_for([@product, @product.rates.build], html: {class: 'form-horizontal'}) do |f| %>

			<div class="field form-group">
			    <%= f.label :title, class: 'col-sm-2 control-label' %>
			    <div class="col-sm-10">
			    	<%= f.text_field :title, class: 'form-control' %>
			    </div>			 
			 </div>

			 <div class="field form-group">
			    <%= f.label :description, class: 'col-sm-2 control-label' %>
			    <div class="col-sm-10">
			    	<%= f.text_field :description, class: 'form-control' %>
			    </div>
			 </div>

			 	<div class="field form-group">
			 	<%= f.label :start_date, class: 'col-sm-2 control-label' %>
			 <%= f.text_field :start_date, "data-provide" => 'datepicker' %>
			 </div>

			 	<div class="field form-group">
			 	<%= f.label :end_date, class: 'col-sm-2 control-label' %>
			 <%= f.text_field :end_date, "data-provide" => 'datepicker' %>
			 </div>

			 <div class="field form-group">
			    <%= f.label :recurrence, class: 'col-sm-2 control-label' %>
			    <div class="col-sm-10">
			    	<%= f.select :recurrence, ['One-time', 'Monthly', 'Quarterly', 'Annually'], class: 'form-control' %>
			    </div>
			 </div>

			 	<div class="field form-group">
			    <%= f.label :price, class: 'col-sm-2 control-label' %>
			    <div class="col-sm-10">
			    	<%= f.number_field :price, class: 'form-control', step: :any %>
			    </div>
			 </div>

			  <div class="actions form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <%= f.submit %>
			    </div>
			  </div>
			 
			<% end %>

		</div>
	</body>

</html>