<tr>
	<td><%= rate.title %></td>
	<td><%= rate.description %></td>
	<td><%= rate.start_date %></td>
	<td><%= rate.end_date %></td>
	<td><%= rate.recurrence %></td>
	<td>$<%= rate.price %></td>
	<td>
	<div class="btn-group">
		<%= link_to 'Edit', edit_product_rate_path(product, rate), :class => "btn btn-default" %>
		<%= link_to 'Delete', product_rate_path(product, rate),
			method: :delete,
			data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
	</div>
	</td>
</tr>